.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-header h1 {
  margin-bottom: 0 !important;
  padding: 7px 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#body {
  width: 700px;
  margin: 0 auto;
  background: #514e4e24;
  height: 60vh;
}

#filter_form {
  width: 100%;
  margin: 20px auto;
  padding: 20px 35px;
  border-radius: 5px;
}
 
.serach_form {
  width: 90%;
  height: 40px;
} 

#search_bar {
  height: 100%;
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
}

#search { 
  width: 10%;
  padding: 0px 10px;
}

#user_id_select {
  width: 90px;
  height: 35px;
  display: inline-block;
}

#show_completed_task {
  margin-right: 7px;
  vertical-align: middle;
}

.user_id_select_form, .form-check {
  display: inline-block;
}

.other_filters .filter {
 float: left;
 margin-right: 15px;
}